<h1 style="color: white;">Alert Type</h1>

<div class="jumbotron">
  <%= link_to "TEST Alert", test_button_path, class: "btn btn-primary btn-lg btn-block"%>
  <%= link_to "LIVE Alert", live_button_path, class: "btn btn-danger btn-lg btn-block"%>
	<div style="padding-top: 5px;"><%= link_to home_path, class: "btn btn-primary btn-lg" do %>Back<% end %></div>
</div>

