<h1>Alert</h1>

<div class="jumbotron">
	<button type="button" class="btn btn-primary btn-lg btn-block">Landslide</button>
	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Landslide</a>

	<button type="button" class="btn btn-primary btn-lg btn-block">Flash flood</button>
	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Flash flood</a>

	<button type="button" class="btn btn-primary btn-lg btn-block">Tsunami</button>
	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Tsunami</a>

	<button type="button" class="btn btn-primary btn-lg btn-block">Ballistic missile</button>
	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Ballistic missile</a>
</div>

<%= link_to alert_type_path, class: "btn btn-primary" do %>
	<span id="span">Back</span>
<% end %> 
=======
<a href="/pages/alert_type"class="btn btn-primary">Back</a>
>>>>>>> static-nav

<span class="btn btn-primary pull-right">Review Alert</span>
<a href="/pages/alert_message" class="btn btn-primary pull-right">Review Alert</a>
 
