<h1> <%= $alert_selected %> Alert</h1>

<script>
function myFunction(testOrLive, alertType, area) {
	var message = testOrLive + " alert indiacting a " + alertType + " in " + area
    document.getElementById('exampleFormControlTextarea1').value = message;
}
function myAlert(message) {
    alert(message);
}
</script>

<div class="jumbotron">
	<form>

		<div class="form-group">
			<label for="exampleFormControlSelect2">Affected Area</label>
			<select multiple class="form-control" id="exampleFormControlSelect2">
				<option>Manoa</option>
				<option>Pearl City</option>
				<option>Ewa</option>
				<option>etc ...</option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleFormControlTextarea1">Alert Message</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>

	</form>

	<div class="btn-toolbar">

		<%= link_to "Back", redo_emergency_path, class: "btn btn-primary"%>

		<!-- <button class="btn btn-primary pull-right" onclick="myAlert(document.getElementById('exampleFormControlTextarea1').value)">Send Alert</button> -->
		<span class="group-btn">
    	<%= link_to "Send Alert", create_alert_path, class: "btn btn-primary pull-right"%>
    </span>

		<button class="btn btn-primary pull-right" onclick="myFunction('','','')">Create Message</button>

	</div>

</div>

<div class="form-group">
	
	<div class="btn-toolbar">
		<button class="btn btn-primary pull-left" onclick="myFunction('Test','tsunami','Manoa')">Test Warning 1</button>
	</div>

</div>

<div class="form-group">
	
	<div class="btn-toolbar">
		<button class="btn btn-primary pull-left" onclick="myFunction('Live','flash flood','Manoa, Aiea, Pearl City')">Test Warning 2</button>
	</div>

</div>
