<h1>Alert Type</h1>

<div class="jumbotron">
	<button type="button" class="btn btn-primary btn-lg btn-block">TEST Alert</button>
	<button type="button" class="btn btn-danger btn-lg btn-block">LIVE Alert</button>
</div>

