<h1>Alert</h1>

<div class="jumbotron">
	<button type="button" class="btn btn-primary btn-lg btn-block">Landslide</button>

	<button type="button" class="btn btn-primary btn-lg btn-block">Flash flood</button>

	<button type="button" class="btn btn-primary btn-lg btn-block">Tsunami</button>

	<button type="button" class="btn btn-primary btn-lg btn-block">Ballistic missile</button>
</div>

<%= link_to alert_type_path, class: "btn btn-primary" do %>
	<span id="span">Back</span>
<% end %> 

<span class="btn btn-primary pull-right">Review Alert</span>
 
