<h1>Alert</h1>

<div class="jumbotron">
	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Landslide</a>

	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Flash flood</a>

	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Tsunami</a>

	<a href="/pages/alert_message" type="button" class="btn btn-primary btn-lg btn-block">Ballistic missile</a>
</div>

<a href="/pages/alert_type"class="btn btn-primary">Back</a>

<a href="/pages/alert_message" class="btn btn-primary pull-right">Review Alert</a>
 
