<h1>Hippopotamus Alert System</h1>

<div class="login">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-login row">
            <h4 class="text-center">User Login</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">         
                <a href="/pages/alert_type" class="btn btn-primary btn-md">
                	Sign In 
                </a>
            </span>
            </div>
		</div>
  </div>
</div>

